In [3]:
!pip install simplerecommender

Collecting simplerecommender
  Downloading simplerecommender-0.0.2-py3-none-any.whl (2.7 kB)
Installing collected packages: simplerecommender
Successfully installed simplerecommender-0.0.2

In [4]:
import pandas as pd
import numpy as np
import simplerecommender as sr

## Dataset
**anime.csv** <br>

* anime_id - unique id identifying an anime.<br>
* name - full name of anime.<br>
* genre - comma separated list of genres for this anime.<br>
* type - movie, TV, OVA, etc.<br>
* episodes - how many episodes in this show. (1 if movie).<br>
* rating - average rating out of 10 for this anime.<br>
* members - number of community members that are in this anime's
"group".<br>

**rating.csv**<br>

* user_id - non identifiable randomly generated user id.<br>
* anime_id - the anime that this user has rated.<br>
* rating - rating out of 10 this user has assigned (-1 if the user watched it but didn't assign a rating).<br>

Source courtesy: [Kaggle](https://www.kaggle.com/CooperUnion/anime-recommendations-database)

In [16]:
# user-anime details
anime = pd.read_csv('anime.csv')

# individual user rating details per item
ratings = pd.read_csv('rating.csv')

In [6]:
anime.head()

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266

In [8]:
ratings.head()

   user_id  anime_id  rating
0        1        20      -1
1        1        24      -1
2        1        79      -1
3        1       226      -1
4        1       241      -1

In [17]:
# merging anime.csv and rating.csv on anime_id column
fulldata=pd.merge(anime, ratings, on='anime_id', suffixes= ['', '_user'])
fulldata = fulldata.rename(columns={'name': 'anime_title', 'rating_user': 'user_rating'})
fulldata.head()

,anime_id,anime_title,genre,type,episodes,rating,members,user_id,user_rating
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630,99,5
1,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630,152,10
2,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630,244,10
3,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630,271,10
4,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630,278,-1

In [15]:
fulldata.shape

(7813611, 9)

In [10]:
fulldata.isnull().sum()

anime_id         0
anime_title      0
genre          110
type             4
episodes         0
rating           6
members          0
user_id          0
user_rating      0
dtype: int64

In [18]:
'''
- df: dataframe is fulldata
- item_col: item character by which we need to recommend (genre in this case)
- user_col: column name that contains user ID's
- user: user ID for whom we need to recomment items
- user_rating_col: column name containing individual user ratings
- avg_rating_col: column name containing average rating per item
'''
sr.rec(df = fulldata,
    item_col = 'genre',
    user_col = 'user_id',
    user = 100,
    user_rating_col = 'user_rating',
    avg_rating_col = 'rating')

,anime_id,anime_title,genre,type,episodes,rating,members,user_id,user_rating
2698010,9919,Ao no Exorcist,"Action, Demons, Fantasy, Shounen, Supernatural",TV,25,7.92,583823,23097,8
2871931,11737,Ao no Exorcist Movie,"Action, Demons, Fantasy, Shounen, Supernatural",Movie,1,7.88,105183,21234,-1
5101717,11266,Ao no Exorcist: Kuro no Iede,"Action, Demons, Fantasy, Shounen, Supernatural",Special,1,7.43,59755,23595,8
5660856,6163,Kuroshitsuji Recap,"Action, Demons, Fantasy, Shounen, Supernatural",Special,1,7.32,20616,73348,7

In [19]:
# it important to drop NaN values in case of using parameter `sep`
fulldata.dropna(inplace = True)

In [14]:
'''
.
.
.
- sep: seperator of parameter `item_col`
        only in case the recommendation has to be on primary genre
'''
sr.rec(df = fulldata,
    item_col = 'genre',
    user_col = 'user_id',
    user = 100,
    user_rating_col = 'user_rating',
    avg_rating_col = 'rating',
    sep = ',')

,anime_id,anime_title,genre,type,episodes,rating,members,user_id,user_rating
10390,5114,Fullmetal Alchemist: Brotherhood,Action,TV,64,9.26,793665,23954,10
27233,28977,Gintama°,Action,TV,51,9.25,114262,24163,10
48671,9969,Gintama&#039;,Action,TV,51,9.16,151266,24841,-1
55201,11061,Hunter x Hunter (2011),Action,TV,148,9.13,425855,24651,10
64362,15417,Gintama&#039;: Enchousen,Action,TV,13,9.11,81109,357,10

**Output**

Top 5 anime recommendations for the user with user ID 100